flows_raspberrypi.json
[{"type":"tab","id":"358b6904.ca7496","label":"Sheet 1"},{"id":"36019737.c9fe68","type":"websocket-listener","z":"358b6904.ca7496","path":"/ws/simple","wholemsg":"true"},{"id":"19a3769e.e65c89","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"421a0060.bde6","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"1d389359.e2c76d","type":"debug","z":"358b6904.ca7496","name":"reactor","active":true,"console":"true","complete":"payload","x":907,"y":608.1666564941406,"wires":[]},{"id":"17cc4307.e833bd","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 13","pin":"13","set":false,"out":"out","x":910.8333740234375,"y":324,"wires":[]},{"id":"391be5fd.c6e41a","type":"websocket out","z":"358b6904.ca7496","name":"Web - listen","server":"36019737.c9fe68","client":"","x":1101,"y":71,"wires":[]},{"id":"8a617424.759e88","type":"http response","z":"358b6904.ca7496","name":"","x":562,"y":38,"wires":[]},{"id":"1cffa7e6.e30058","type":"http in","z":"358b6904.ca7496","name":"GET request","url":"/simple","method":"get","swaggerDoc":"","x":193,"y":38,"wires":[["7e71d861.818e28"]]},{"id":"7e71d861.818e28","type":"template","z":"358b6904.ca7496","name":"Web Page","field":"payload","format":"html","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"reef.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"accordian.css\">\n    <script src=\"reef.js\"></script>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            ws.onmessage = function(msg) {\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                console.log(data);\n                //unescape\n                var obj = JSON.parse(data);\n               \n                if (data.indexOf(\"buttons\") > -1) { \n                    obj = JSON.parse(obj);\n                    var buttons = obj.buttons;\n                \n                    buttons.forEach(function (button) {\n                        if (button.state === \"0\") {\n                            poweron(button.name);\n                        } else if (button.state === \"1\") {\n                            poweroff(button.name);\n                        }\n                    });\n                } else {\n                    var messages = obj.split(':');\n                    updateTemperatureTable(messages[0], messages[1]);\n                }\n              \n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                ws.send(\"connected\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Reef Controller</h1>\n   \n        <div id=\"status\">unknown</div>\n        </font>\n        \n        <ul>\n        \t<li class=\"block\">\n        \t\t<input type=\"checkbox\" name=\"item\" id=\"item1\" checked=\"true\"/>   \n        \t\t<label for=\"item1\"><i aria-hidden=\"true\" class=\"icon icon-power\"></i> Power </label>\n        \t\t<ul class=\"options\">\n        \t\t    <li>\n                        <div style=\"width: 600px;\" class=\"basediv\">\n                            <table id=\"buttonstable\" class=\"basetable\">\n                            </table>\n                        </div>\n                    </li>\n        \t\t</ul>\n        \t</li>\n        \t<li class=\"block\">\n        \t\t<input type=\"checkbox\" name=\"item\" id=\"item2\" checked=\"true\" />   \n        \t\t<label for=\"item2\"><i aria-hidden=\"true\" class=\"icon icon-temperature\"></i> Temperature </label>\n        \t\t<ul class=\"options\">\n                              <div style=\"width: 300px;\" class=\"basediv\">\n                                 <table id=\"temptable\" class=\"basetable\">\n                                 </table>\n                              </div>\n                              <div id=\"graphdiv\"></div>\n        \n        \t\t</ul>\n        \t</li>\n        </ul>\n\n        <script>\n            init();\n        </script>\n\n    </body>\n</html>\n","x":390,"y":38,"wires":[["8a617424.759e88"]]},{"id":"1deb1b0.fe214e5","type":"websocket in","z":"358b6904.ca7496","name":"Web listen","server":"36019737.c9fe68","client":"","x":198,"y":173,"wires":[["9f0ba40f.60f458"]]},{"id":"47a9b797.b85648","type":"debug","z":"358b6904.ca7496","name":"light2","active":true,"console":"true","complete":"payload","x":903,"y":449,"wires":[]},{"id":"b562e4e9.4a9d18","type":"debug","z":"358b6904.ca7496","name":"pump1","active":true,"console":"true","complete":"payload","x":901,"y":209,"wires":[]},{"id":"5bd7f0ea.a4281","type":"switch","z":"358b6904.ca7496","name":"switch buttons","property":"payload","rules":[{"t":"cont","v":"button1"},{"t":"cont","v":"button2"},{"t":"cont","v":"button3"},{"t":"cont","v":"button4"},{"t":"cont","v":"button5"},{"t":"cont","v":"button6"},{"t":"cont","v":"button7"},{"t":"cont","v":"button8"}],"checkall":"false","outputs":8,"x":551,"y":370,"wires":[["23e47422.dc1b8c"],["260a471f.d9f5b8"],["66f9a0fe.99066"],["893784ee.76c878"],["250e889f.daf178"],["1c69e01a.e3962"],["4a54517d.b5abb"],["8184a307.7e7b6"]]},{"id":"23e47422.dc1b8c","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":743,"y":181,"wires":[["ed9441eb.126bc","341000c4.cbf"],["f05a80f.f0fa58"]]},{"id":"260a471f.d9f5b8","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":744,"y":247,"wires":[["b562e4e9.4a9d18","ed16c5d1.12e938"],["f05a80f.f0fa58"]]},{"id":"66f9a0fe.99066","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":747,"y":313,"wires":[["4b7181e.fb48e8","17cc4307.e833bd"],["f05a80f.f0fa58"]]},{"id":"893784ee.76c878","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":745,"y":381,"wires":[["5f9417e9.a06be8","1e0f0ac.fe1f0f5"],["f05a80f.f0fa58"]]},{"id":"250e889f.daf178","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":744,"y":451,"wires":[["47a9b797.b85648","20ae369f.df51ca"],["f05a80f.f0fa58"]]},{"id":"1c69e01a.e3962","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":746,"y":523,"wires":[["d87660cf.2789a","175ce81d.e8a318"],["f05a80f.f0fa58"]]},{"id":"4a54517d.b5abb","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":746,"y":590,"wires":[["1d389359.e2c76d","907457d8.6f8ba8"],["f05a80f.f0fa58"]]},{"id":"8184a307.7e7b6","type":"function","z":"358b6904.ca7496","name":"Toggle 0/1","func":"//button1state0 means that button1 is true\nvar state = msg.payload.substr(12);\n\n//show status in console\nif (state === '0') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"on\"});\n} else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"off\"});\n}\n\nreturn [{ payload:state }, msg];","outputs":"2","noerr":0,"x":744,"y":666,"wires":[["2e1b368c.d1e4ca","5067242d.af98dc"],["f05a80f.f0fa58"]]},{"id":"ed9441eb.126bc","type":"debug","z":"358b6904.ca7496","name":"light1","active":true,"console":"true","complete":"payload","x":899,"y":130,"wires":[]},{"id":"341000c4.cbf","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 11","pin":"11","set":"","level":"0","out":"out","x":907,"y":166,"wires":[]},{"id":"20ae369f.df51ca","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 16","pin":"16","set":"","level":"0","out":"out","x":910,"y":485,"wires":[]},{"id":"ed16c5d1.12e938","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 12","pin":"12","set":"","level":"0","out":"out","x":910,"y":246,"wires":[]},{"id":"d87660cf.2789a","type":"debug","z":"358b6904.ca7496","name":"pump2","active":true,"console":"true","complete":"payload","x":904,"y":530,"wires":[]},{"id":"4b7181e.fb48e8","type":"debug","z":"358b6904.ca7496","name":"fan","active":true,"console":"true","complete":"payload","x":903,"y":289,"wires":[]},{"id":"175ce81d.e8a318","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 18","pin":"18","set":"","level":"0","out":"out","x":912,"y":565,"wires":[]},{"id":"907457d8.6f8ba8","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 22","pin":"22","set":"","level":"0","out":"out","x":913,"y":644,"wires":[]},{"id":"1e0f0ac.fe1f0f5","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 15","pin":"15","set":"","level":"0","out":"out","x":911,"y":405,"wires":[]},{"id":"5067242d.af98dc","type":"rpi-gpio out","z":"358b6904.ca7496","name":"rpi pin 21","pin":"21","set":"","level":"0","out":"out","x":914,"y":724,"wires":[]},{"id":"5f9417e9.a06be8","type":"debug","z":"358b6904.ca7496","name":"sump pump","active":true,"console":"true","complete":"payload","x":920,"y":369,"wires":[]},{"id":"2e1b368c.d1e4ca","type":"debug","z":"358b6904.ca7496","name":"heater","active":true,"console":"true","complete":"payload","x":904,"y":688,"wires":[]},{"id":"b19b3390.4e64d","type":"change","z":"358b6904.ca7496","name":"","rules":[{"t":"set","p":"retain","to":"true"}],"x":896.9999694824219,"y":807.0000228881836,"wires":[["b045d614.4fba28"]]},{"id":"228656b3.dd79aa","type":"debug","z":"358b6904.ca7496","name":"temp1","active":true,"console":"true","complete":"true","x":1365.9999694824219,"y":812.0000228881836,"wires":[]},{"id":"2b3827d.fd4c7d8","type":"rpi-ds18b20","z":"358b6904.ca7496","topic":"","name":"","x":697.9999389648438,"y":804.0000228881836,"wires":[["b19b3390.4e64d"]]},{"id":"3ea403c.fc15bfc","type":"inject","z":"358b6904.ca7496","name":"5 minute temp","topic":"","payload":"","payloadType":"none","repeat":"300","crontab":"","once":true,"x":138,"y":804.0000228881836,"wires":[["2b3827d.fd4c7d8"]]},{"id":"51510449.aeaefc","type":"bigtimer","z":"358b6904.ca7496","outtopic":"","outpayload1":"","outpayload2":"","name":"light1 Timer","lat":"39.9282","lon":"-75.61143","start":"sunrise","end":"sunset","starttime":"660","endtime":"1140","duskoff":"0","dawnoff":"0","outtext1":"button1state0","outtext2":"button1state1","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":true,"atstart":true,"x":309,"y":345,"wires":[[],[],["5bd7f0ea.a4281"]]},{"id":"80d71268.7f28f","type":"inject","z":"358b6904.ca7496","name":"pump timer PM","topic":"","payload":"button3","payloadType":"none","repeat":"","crontab":"*/2 16 * * *","once":false,"x":136,"y":544,"wires":[["db459498.24ba68","b6b1428c.494ec"]]},{"id":"2db66671.d2499a","type":"bigtimer","z":"358b6904.ca7496","outtopic":"","outpayload1":"","outpayload2":"","name":"light2 timer","lat":"39.9282","lon":"-75.61143","start":"sunrise","end":"sunset","starttime":"5000","endtime":"1320","duskoff":"0","dawnoff":"0","outtext1":"button5state0","outtext2":"button5state1","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":307,"y":414,"wires":[[],[],["5bd7f0ea.a4281"]]},{"id":"db459498.24ba68","type":"trigger","z":"358b6904.ca7496","op1":"button2state0","op2":"button2state1","op1type":"val","op2type":"val","duration":"1","extend":false,"units":"min","name":"pump1onoff","x":311,"y":495,"wires":[["5bd7f0ea.a4281"]]},{"id":"b6b1428c.494ec","type":"trigger","z":"358b6904.ca7496","op1":"button6state1","op2":"button6state0","op1type":"val","op2type":"val","duration":"1","extend":false,"units":"min","name":"pump2offon","x":313,"y":544,"wires":[["5bd7f0ea.a4281"]]},{"id":"5bd937fb.a426c8","type":"inject","z":"358b6904.ca7496","name":"pump timer AM","topic":"","payload":"button3","payloadType":"none","repeat":"","crontab":"*/2 8 * * *","once":false,"x":135,"y":495,"wires":[["db459498.24ba68","b6b1428c.494ec"]]},{"id":"8a09a644.75f658","type":"function","z":"358b6904.ca7496","name":"initial button state","func":"var msg1 = { payload:\"button2state0\" };\nvar msg2 = { payload:\"button4state0\" };\nvar msg3 = { payload:\"button6state0\" };\nvar msg4 = { payload:\"button7state0\" };\nvar msg5 = { payload:\"button8state0\" };\n\nreturn [ msg1, msg2, msg3 , msg4, msg5 ];","outputs":"5","noerr":0,"x":299,"y":270,"wires":[["5bd7f0ea.a4281"],["5bd7f0ea.a4281"],["5bd7f0ea.a4281"],["5bd7f0ea.a4281"],["5bd7f0ea.a4281"]]},{"id":"c30a1115.3cf5f","type":"inject","z":"358b6904.ca7496","name":"startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":122,"y":272,"wires":[["8a09a644.75f658"]]},{"id":"f05a80f.f0fa58","type":"function","z":"358b6904.ca7496","name":"button state","func":"//retrieve current status from a global variable\nif (context.currentStates === undefined) {\n    context.currentStates = [];\n}\n\n//used to send back status of all buttons when a client connects\nif  (msg.payload === 'connected') {\n\n    var text = '{ \"buttons\" : [';\n    for (var i = 0; i < context.currentStates.length; i++) {\n        var name1 = context.currentStates[i].name;\n        var state1 = context.currentStates[i].state;\n        text = text + '{ \"name\":\"' + name1 + '\" , \"state\":\"' + state1 + '\" }';\n        if (i < context.currentStates.length-1) {\n            text = text + ',';\n        }\n    }\n    text = text + ']}';\n    return text\n}\n\n//used when a button changes state\n//button1state0 means that button1 is true\nvar name = msg.payload.substr(0,7);\nvar state = msg.payload.substr(12);\n\nvar found = false;\n\nvar newState;\nfor (var i = 0; i < context.currentStates.length; i++) {\n    if (context.currentStates[i].name === name) {\n        if (context.currentStates[i].state !== state) {\n            //remove the old state\n            context.currentStates.splice(i,1);\n            newState = {\"name\":name, \"state\":state};\n            //save status in a global variable\n            context.currentStates.push(newState);\n        }\n        found = true;\n        break;\n    }\n}\n\nif (!found) {\n    newState = {\"name\":name, \"state\":state};\n    context.currentStates.push(newState);\n}\n\n// if button state is the same as incoming, newstate will be undefined\nif (newState === undefined) {\n    return null;\n}\n\nvar text = '{ \"buttons\" : [';\ntext = text + '{ \"name\":\"' + newState.name + '\" , \"state\":\"' + newState.state + '\" }';\ntext = text + ']}';\nreturn text","outputs":1,"noerr":0,"x":914,"y":72,"wires":[["391be5fd.c6e41a"]]},{"id":"9f0ba40f.60f458","type":"switch","z":"358b6904.ca7496","name":"","property":"payload","rules":[{"t":"eq","v":"connected"},{"t":"cont","v":"button"}],"checkall":"false","outputs":2,"x":331,"y":172,"wires":[["f05a80f.f0fa58"],["5bd7f0ea.a4281"]]},{"id":"b045d614.4fba28","type":"function","z":"358b6904.ca7496","name":"","func":"var id = msg.topic;\nvar temp = msg.payload;\n\nvar tempF=temp * 9 / 5 + 32;\ntempF = Math.round(tempF * 10) / 10;\n         \nvar name;\nif (id === \"DE9CBE050000\") { \n    name = 'room';\n} else {\n    name = 'tank';\n}\n\nnode.warn(name + ':' + tempF);\nreturn name + ':' + tempF;","outputs":1,"noerr":0,"x":1183.6666564941406,"y":863.6666641235352,"wires":[["228656b3.dd79aa","391be5fd.c6e41a"]]}]